body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--blanc);
    color: var(--bleu);
}
h1 {
    font-size: 48px;
    color: var(--orange);
}
h2 {
    font-size: 32px;
    color: var(--menthe);
}
/* HEADER */
header {
    height: 150px;
    padding: 15px;
    background-color: var(--bleu);
}
h2 a {
    text-decoration: none;
    text-align: center;
    color: var(--menthe);
}
.wrapperheader {
    max-width: 1170px;
    margin: auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}
.active {
    color: var(--blanc) ;
    font-weight: 800;
}
#conteneur {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
#conteneur img {
    width: 120%;
    height: 110%;
    object-fit: cover;
    overflow: hidden;
}
header nav {
    display: flex;
    justify-content: center;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
header nav ul li a {
    text-decoration: none ;
    color: var(--blanc);
    transition: color 0.3s ease;
}
/* On passe au hero */
#hero {
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px ;
}
#hero img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  opacity: 55%;
}
.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
#hero h1 {
    margin-bottom: 10px;
}
/* Coin des annonces */
#coindesannonces {
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#coindesannonces h2 {
    text-align: center;
    margin: 15px 0 ;
}
#annoncebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin: 15px;
}
#annonce1 h3, #annonce2 h3 {
    margin-top: 15px;
    text-align: center;
}
#annonce1 p, #annonce2 p {
    margin: 15px 0 ;
}
.annonce {
    flex: 1;
    border: 2px solid var(--jaune);
    border-radius: 25px;
    text-align: center;
    padding: 10px 20px;
}
.cta {
    text-decoration: none ;
    display: inline-block;
    padding: 15px;
    text-align: center;
    color: white;
    background-color: var(--marron);
    border-radius: 24px;
    margin: 15px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Le à propos */
#sectionapropos {
    background-color: var(--bleu);
    padding: 15px;
}
#sectionapropos h2 {
    text-align: center;
    text-decoration: none;
    margin: 15px;
    text-decoration: none;
    color: var(--blanc);
}
.wrapper {
    max-width: 1170px;
    margin: auto;
}
#apropos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    color: var(--blanc);
}
#colonne1 p {
    margin: 15px;
}
#colonne2 {
    width: 500px;
    height: 240px;
    overflow: hidden;
    border-radius: 36px;
    transition: all 0.4s ease;
}
#colonne2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;
}
#groupecta {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/* Des projets */
#sectionprojets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}
#sectionprojets h2, #sectionprojets p {
    text-align: center;
    margin: 15px 0;
}
#galerie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin: 4rem 0;
}
#galerie img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}
#sectionprojets .cta {
    display: inline-block;
    margin-bottom: 30px;
}
/* FOOTER */
footer {
    height: 150px;
    background-color: var(--bleu);
    padding: 30px;
}
#wrapperfooter {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#liensfooter {
    display: flex;
    flex-direction: column;
}
footer nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer nav svg {
    height: 50px;
    transition: all 0.3s ease;
}
#liensfooter a {
    text-decoration: none;
    color: var(--blanc);
}
footer #linkedin path,
footer #instagram path,
footer #mail path {
  fill: white;
  transition: fill 0.3s ease;
}
#arrow {
    height: 50px;
    display: flex;
    align-items: center;
}
footer #arrow path {
    fill: white;
}
/* HOOVER */
.cta:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 15px rgba(139,69,19,0.4); 
  background:linear-gradient(45deg, var(--marron), #a0522d);
}
header nav ul li a:hover {
    color: var(--orange);
    transform: scale(1.02);
}
#liensfooter a:hover {
    transform: translateX(4px) scale(1.02);
    color: var(--menthe) !important;
    opacity: 1;
}
footer svg:hover path {
  fill: var(--menthe) !important;
}
/* ACCESSIBILITE */
.sr-only {
  position: absolute;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  white-space: nowrap;
}

